<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">App Heading</h3>

<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside ebText">
        <div class="ebLayout-AppHeading">
            <h1>App Heading</h1>
        </div>
    </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebLayout-AppHeading"&gt;<br>
        &nbsp;&nbsp;&lt;h1&gt;App Heading&lt;/h1&gt;<br>
        &lt;/div&gt;
    </code>
</div>