<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">Templates</h3>

<div class="eaAssetLibrary-Block-body-noside ebText">
    Templates have defined spaces for breadcrumb, app name, quick action bar, section headings and section subheadings.
    <br><br>
</div>

<!--====================================================-->
<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside ebText">
        <a href="../layouts/default.html" target="_blank">Default template</a>
    </div>
    <br><br>

    <div class="eaAssetLibrary-Block-body-noside ebText">
        <a href="../layouts/master.html" target="_blank">Master/Detail template</a>
    </div>
    <br><br>

    <div class="eaAssetLibrary-Block-body-noside ebText">
        <a href="../layouts/dashboard.html" target="_blank">Dashboard template</a>
    </div>
    <br><br>

    <div class="eaAssetLibrary-Block-body-noside ebText">
        <a href="../layouts/complex.html" target="_blank">Complex template</a>
    </div>
</div>
