<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">Navigation Area</h3>

<div class="eaAssetLibrary-Block">
        <div class="ebLayout-Navigation">
            <div class="ebBreadcrumbs">
                <div class="ebBreadcrumbs-item">
                    <a href="#breadcrumb" class="ebBreadcrumbs-link">Level 1</a>
                </div>
                <div class="ebBreadcrumbs-item">
                    <a href="#breadcrumb" class="ebBreadcrumbs-link">Level 2</a>
                </div>
                <div class="ebBreadcrumbs-item">
                    <a href="#breadcrumb" class="ebBreadcrumbs-link">Item 1</a>
                </div>
            </div>
        </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebLayout-Navigation"&gt;<br>
        &nbsp;&nbsp;&lt;div class="ebBreadcrumbs"&gt; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="ebBreadcrumbs-item"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" class="ebBreadcrumbs-link"&gt;Level 1&lt;/a&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="ebBreadcrumbs-item"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" class="ebBreadcrumbs-link"&gt;Level 2&lt;/a&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="ebBreadcrumbs-item"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" class="ebBreadcrumbs-link"&gt;Item 1&lt;/a&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;/div&gt;<br>
        &lt;/div&gt;
    </code>
</div>