<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">Section Heading</h3>

<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside ebText">
        <div class="ebLayout-SectionHeading">
            <h2>Section Heading</h2>
        </div>
    </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebLayout-SectionHeading"&gt;<br>
        &nbsp;&nbsp;&lt;h2&gt;Section Heading&lt;/h2&gt;<br>
        &lt;/div&gt;
    </code>
</div>