<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">Section Heading with Commands</h3>

<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside ebText">
        <div class="ebLayout-SectionHeading">
            <h2>Section Heading</h2>
            <div class="ebLayout-HeadingCommands">
                <div class="ebLayout-HeadingCommands-block">
                    <a href="#" title="Link 1">Link 1</a>
                    <a href="#" title="Link 2">Link 2</a>
                    <div class="ebLayout-HeadingCommands-separator"></div>
                    <div class="ebLayout-HeadingCommands-iconHolder">
                        <i class="ebIcon ebIcon_medium ebIcon_copy ebIcon_interactive" title="Copy"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebLayout-SectionHeading"&gt;<br>
        &nbsp;&nbsp;&lt;h2&gt;Section Heading&lt;/h2&gt;<br>
        &nbsp;&nbsp;&lt;div class="ebLayout-HeadingCommands"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="ebLayout-HeadingCommands-block"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" title="Link 1"&gt;Link 1&lt;/a&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" title="Link 2"&gt;Link 2&lt;/a&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="ebLayout-HeadingCommands-separator"&gt;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="ebLayout-HeadingCommands-iconHolder"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="ebIcon ebIcon_medium ebIcon_copy ebIcon_interactive" title="Copy"&gt;&lt;/i&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;div class="ebLayout-clearFix">&lt;/div&gt;<br>
        &lt;/div&gt;
    </code>
</div>