<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">Section Subheading</h3>

<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside ebText">
        <div class="ebLayout-SectionSubheading">
            <h3>Section Subheading</h3>
        </div>
    </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebLayout-SectionSubheading"&gt;<br>
        &nbsp;&nbsp;&lt;h3&gt;Section Subheading&lt;/h3&gt;<br>
        &lt;/div&gt;
    </code>
</div>