<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">System Bar</h3>

<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside ebText">
        <div class="systemBar">
            <div class="ebSystemBar">
                <div class="ebSystemBar-logo"></div>
                <div class="ebSystemBar-topMenuName">System Name</div>
            </div>
        </div>
    </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebSystemBar"&gt; <br>
        &nbsp;&nbsp;&lt;div class="ebSystemBar-logo"&gt;&lt;/div&gt; <br>
        &nbsp;&nbsp;&lt;div class="ebSystemBar-topMenuName"&gt;System Name&lt;/div&gt; <br>
        &lt;/div&gt;
    </code>
</div>
