<!--====================================================-->
<h3 class="eaAssetLibrary-Heading">Wizard</h3>

<div class="eaAssetLibrary-Block">
    <div class="eaAssetLibrary-Block-body-noside">

        <div class="ebWizard ebWizard_horizontal">
            <div class="ebWizard-headerStepSelect"><i class="ebWizard-headerStepSelectPrevious"></i><div class="ebWizard-step ebWizard-step_current"><span class="ebWizard-stepNumber">2</span><span class="ebWizard-stepTitle">Item 2</span></div><i class="ebWizard-headerStepSelectDropBtn"></i><i class="ebWizard-headerStepSelectNext"></i></div>
            <ul class="ebWizard-stepList">
                <li class="ebWizard-stepListItem ebWizard-step ebWizard-step_valid">
                    <span class="ebWizard-stepNumber"></span><span class="ebWizard-stepTitle">Item 1</span>
                </li><li class="ebWizard-stepListItem ebWizard-step_current ebWizard-step">
                <span class="ebWizard-stepNumber"></span><span class="ebWizard-stepTitle">Item 2 current</span>
            </li><li class="ebWizard-stepListItem ebWizard-step_disabled ebWizard-step">
                <span class="ebWizard-stepNumber"></span><span class="ebWizard-stepTitle">Item 3 disabled</span>
            </li><li class="ebWizard-stepListItem ebWizard-step">
                <span class="ebWizard-stepNumber"></span><span class="ebWizard-stepTitle">Item 4</span>
            </li>
            </ul>

            <div class="ebWizard-bodyContainer eb_scrollbar">
                <div class="dummyText">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel lorem libero, ut sollicitudin velit.
                        Etiam vehicula lorem non neque laoreet at malesuada purus posuere. Nunc viverra arcu sed augue ultricies
                        rhoncus. Etiam ac lorem arcu. Curabitur ut metus feugiat est imperdiet gravida eget eget arcu. Fusce
                        vitae magna leo, ut pretium justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                        per inceptos himenaeos. Nullam imperdiet iaculis posuere. Etiam porttitor, nibh id venenatis mattis,
                        tortor dui convallis dui, vitae tincidunt odio enim ut massa. Sed consectetur, enim eget varius rutrum,
                        ante sem varius lorem, quis eleifend diam magna vitae nulla. Fusce a turpis eget erat aliquet
                        condimentum. Quisque faucibus velit sed turpis viverra dictum.
                    </p>

                    <p>
                        Morbi et tortor id metus sagittis tempus quis sed dui. Suspendisse nisi mauris, vulputate et commodo id,
                        vehicula sit amet dui. Etiam nisi purus, hendrerit nec pulvinar et, sagittis at sapien. Praesent
                        porttitor, lacus sit amet sodales luctus, leo nibh tincidunt arcu, quis bibendum eros nibh vitae mi.
                        Maecenas ullamcorper varius convallis. Aliquam varius commodo viverra. Praesent imperdiet metus a justo
                        elementum a faucibus velit lobortis. Nulla at massa quam. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nullam convallis nunc vel sem tristique rutrum.
                        Vestibulum fermentum mollis elit et eleifend. Phasellus et ornare massa.
                    </p>
                </div>
            </div>

            <footer class="ebWizard-footer">
                <ul class="ebWizard-footerCommandList">
                    <li class="ebWizard-footerCommandListItem"><a href="#" class="ebWizard-footerBtnCancel">Cancel</a></li><li class="ebWizard-footerCommandListItem"><button type="button" class="ebWizard-footerBtnPrevious ebBtn eb_wMargin_side"><i class="ebIcon ebIcon_leftArrowLarge"></i> <span>Previous</span></button><button type="button" class="ebWizard-footerBtnNext ebBtn ebBtn_color_paleBlue eb_wMargin_side"><span>Next</span> <i class="ebIcon ebIcon_rightArrowLarge_white"></i></button><button type="button" class="ebWizard-footerBtnFinish ebBtn eb_wMargin_side ebBtn_color_darkBlue"> <span>Finish</span></button>
                </li>
                </ul>
            </footer>
        </div>
    </div>
</div>

<!--====================================================-->
<h4 class="eaAssetLibrary-Heading">HTML</h4>

<div class="eaAssetLibrary-Block">
    <code class="eaAssetLibrary-Block-body eaAssetLibrary-Block-box eaAssetLibrary-AssetList-listItem-code ebText">
        &lt;div class="ebWizard ebWizard_horizontal"&gt;<br/>
        &nbsp;&nbsp;&lt;div class="ebWizard-headerStepSelect"&gt;&lt;i class="ebWizard-headerStepSelectPrevious"&gt;&lt;/i&gt;&lt;div class="ebWizard-step ebWizard-step_current"&gt;&lt;span class="ebWizard-stepNumber"&gt;2&lt;/span&gt;&lt;span class="ebWizard-stepTitle"&gt;Item 2&lt;/span&gt;&lt;/div&gt;&lt;i class="ebWizard-headerStepSelectDropBtn"&gt;&lt;/i&gt;&lt;i class="ebWizard-headerStepSelectNext"&gt;&lt;/i&gt;&lt;/div&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="ebWizard-stepList"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="ebWizard-stepListItem ebWizard-step ebWizard-step_valid"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="ebWizard-stepNumber"&gt;&lt;/span&gt;&lt;span class="ebWizard-stepTitle"&gt;Item 1&lt;/span&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;&lt;li class="ebWizard-stepListItem ebWizard-step_current ebWizard-step"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="ebWizard-stepNumber"&gt;&lt;/span&gt;&lt;span class="ebWizard-stepTitle"&gt;Item 2 current&lt;/span&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;&lt;li class="ebWizard-stepListItem ebWizard-step_disabled ebWizard-step"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="ebWizard-stepNumber"&gt;&lt;/span&gt;&lt;span class="ebWizard-stepTitle"&gt;Item 3 disabled&lt;/span&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;&lt;li class="ebWizard-stepListItem ebWizard-step"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="ebWizard-stepNumber"&gt;&lt;/span&gt;&lt;span class="ebWizard-stepTitle"&gt;Item 4&lt;/span&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br/>
        &nbsp;&nbsp;&lt;div class="ebWizard-bodyContainer eb_scrollbar"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="dummyText"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Lorem ipsum [...].&lt;/p&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Lorem ipsum [...].&lt;/p&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Lorem ipsum [...].&lt;/p&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
        &nbsp;&nbsp;&lt;/div&gt;<br/>
        &nbsp;&nbsp;&lt;footer class="ebWizard-footer"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="ebWizard-footerCommandList"&gt;<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="ebWizard-footerCommandListItem"&gt;&lt;a href="#" class="ebWizard-footerBtnCancel"&gt;Cancel&lt;/a&gt;&lt;/li&gt;&lt;li class="ebWizard-footerCommandListItem"&gt;&lt;button type="button" class="ebWizard-footerBtnPrevious ebBtn eb_wMargin_side"&gt;&lt;i class="ebIcon ebIcon_leftArrowLarge"&gt;&lt;/i&gt; &lt;span&gt;Previous&lt;/span&gt;&lt;/button&gt;&lt;button type="button" class="ebWizard-footerBtnNext ebBtn ebBtn_color_paleBlue eb_wMargin_side"&gt;&lt;span&gt;Next&lt;/span&gt; &lt;i class="ebIcon ebIcon_rightArrowLarge_white"&gt;&lt;/i&gt;&lt;/button&gt;&lt;button type="button" class="ebWizard-footerBtnFinish ebBtn eb_wMargin_side ebBtn_color_darkBlue"&gt; &lt;span&gt;Finish&lt;/span&gt;&lt;/button&gt;&lt;/li&gt;
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br/>
        &nbsp;&nbsp;&lt;/footer&gt;<br/>
        &lt;/div&gt;
    </code>
</div>

<div class="eaAssetLibrary-Block-body-noside ebText">
    <p>Wizard can be used with the following set of modifiers:</p>

    <table class="ebTable">
        <thead>
        <tr>
            <th colspan="2">ebWizard</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ebWizard_horizontal</td>
            <td>Renders the step list horizontally on a screen sized device</td>
        </tr>
        <tr>
            <td>ebWizard_firstStep</td>
            <td>Hides the "previous" button</td>
        </tr>
        <tr>
            <td>ebWizard_lastStep</td>
            <td>Hides the "next" button and show "finish"</td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <p>It is possible to disable navigation button on the header using the following modifiers:</p>

    <table class="ebTable">
        <thead>
        <tr>
            <th colspan="2">ebWizard-headerStepSelectPrevious,<br/>
                ebWizard-headerStepSelectNext
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ebWizard-headerStepSelectPrevious_disabled<br/>
                ebWizard-headerStepSelectNext_disabled
            </td>
            <td>Shows the corresponding header button disabled</td>
        </tr>
        <tr>
            <td>ebWizard-headerStepSelectPrevious_hidden<br/>
                ebWizard-headerStepSelectNext_hidden
            </td>
            <td>Hides the corresponding header button without reducing width</td>
        </tr>
        </tbody>
    </table>

    <br><br>
    <p>The step item header can be set to valid, disabled or highlighted as current using the following modifiers:</p>

    <table class="ebTable">
        <thead>
        <tr>
            <th colspan="2">ebWizard-step</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ebWizard-step_current</td>
            <td>Shows corresponding step as current</td>
        </tr>
        <tr>
            <td>ebWizard-step_valid</td>
            <td>Shows corresponding step as valid</td>
        </tr>
        <tr>
            <td>ebWizard-step_disabled</td>
            <td>Shows corresponding step as disabled</td>
        </tr>
        </tbody>
    </table>
</div>
